.slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 1300px;
    
  }

@media screen and (max-width: 768px) {
  .slick-slider {
    max-width: 90%;
  }
}


@media screen and (max-width: 1365px) {
  .slick-slider {
    width: 1000px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 1000px;
    
  }
}

@media screen and (max-width: 1000px) {
  .slick-slider {
    width: 800px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 800px;
    
  }
}

@media screen and (max-width: 400px) {
  .slick-slider {
    width: 350px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 350px;

    
  }
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  font-size: 24px;
}

