@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@500&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 1300px;
    
  }

  /*.slick-list {
    margin: 0 -10px; 
    padding: 0!important; 
  }
  
  .slick-slide {
    margin: 0 0px;
    padding: 0!important; 
  }*/

  /* Styles for screens with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {
  .slick-slider {
    max-width: 90%;
  }
}

/* medium screen set */
@media screen and (max-width: 1365px) {
  .slick-slider {
    width: 1000px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 1000px;
    
  }
}

@media screen and (max-width: 1000px) {
  .slick-slider {
    width: 800px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 800px;
    
  }
}

@media screen and (max-width: 400px) {
  .slick-slider {
    width: 270px;
    
  }
  .slick-slide > div {
    margin: 0 10px;
    
  }
  .slick-list {
    margin: 0 10px;
    width: 270px;
    
  }
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  font-size: 24px;
}



/* styles.css */
.hover\:scale-x-100:hover {
  transform-origin: bottom;
  transform: scaleX(1);
}


.omal{
  color: #1C5539;
}

.icon-class::after{
  content: '';
  height: 3px;
  width: 40%;
  background-color: #B5B6BA;
  display: block;
  transition: 0.25s ease-in-out;
  margin-top: 5px;
  
  //transform:scaleX(0.5);
}
.icon-class:hover::after{
  content: '';
  height: 3px;
  width: 100%;
  background-color: #1C5539;
  display: block;
  transform:scaleX(1);
  transform-origin: bottom right;
}


